.company-name {
    color: #2d75b4;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

.banner-container {
    background: #4097DB;
    color: #fff;
}

.bottom-icon {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px #ddd;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -27px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
}