.text-blue {
    color: #4097DB;
}

.btnNav {
    padding: 10px 15px;
    border: 0;
}

.btnPrev {
    background: #F1F1F1;
    color: #8f8f8f;
}

.btnNext {
    background: #1BA0E1;
    color: #fff;
}