.section-container {
    background: #4097DB;
}

.text-blue {
    color: #4097DB;
}

.custom-swiper > div {
    padding-bottom: 25px !important;
}

.custom-swiper .swiper-pagination .swiper-pagination-bullet {
    padding: 4px;
}

.custom-swiper .swiper-pagination .swiper-pagination-bullet-active {
    background: none !important;
    border: 2px solid #3D46A2;
}

.custom-navigation {
    position: absolute;
    bottom: -4px;
    z-index: 5;
    border: 0;
    background: none;
}
.custom-navigation{
    font-size: 24px;
    color: #3D46A2;
}
.custom-navigation[disabled]{
    color: #ddd;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}